* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: normal;
}

body {
    position: relative;
    width: 1440px;
    height: 1024px;

    /* Light blue/light-blue-100 */

    background: #F3F5FC;

}

.logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 30px;
}

#mensaje {
    position: absolute;
    width: 577px;
    height: 48px;
    left: 240px;
    top: 108px;
    border: none;
    background: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #0A3871;
}

.especificaciones {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 229px;
    height: 18px;
    left: 250px;
    top: 570px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #8291a4;
}

#botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 590px;
    text-align: center;
}

.boton-encriptar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;

    /* Dark blue/dark-blue-300 */

    background: #0A3871;
    border-radius: 24px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    text-align: center;
    color: white;
}

.boton-desencriptar {
    box-sizing: border-box;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;

    /* Light gray */

    background: #D8DFE8;
    /* Dark blue/dark-blue-300 */

    border: 1px solid #0A3871;
    border-radius: 24px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#boton-copiar {

    box-sizing: border-box;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 10px;
    text-align: center;
    color: #0A3871;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 25px;
    gap: 24px;

    position: absolute;
    width: 150px;
    height: 67px;
    left: 1125px;
    top: 590px;
    text-align: center;
    /* Light gray */

    background: none;
    /* Dark blue/dark-blue-300 */

    border: 1px solid #0A3871;
    border-radius: 24px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    z-index: 999;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #0A3871;
}



#cuadrado{
    position: absolute;
    width: 400px;
    height:680px;
    left: 1000px;
    top: 40px;
    

    /* White */

    background: #FFFFFF;
    /* shadow */

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.muneco {
    position: absolute;
    width: 336px;
    height: 304px;
    top: 100px;
    left: 1032px;
}

#medidas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 336px;
    height: 122px;
    left: 1032px;
    top: 619px;
}

#resalta {

    position: absolute;
    width: 336px;
    height: 58px;
    top: -160px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    /* or 29px */

    text-align: center;

    /* Gray/gray-500 */

    color: #0A3871;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#claro {

    position: absolute;
    width: 336px;
    height: 48px;
    top: -130px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */

    text-align: center;

    /* Gray/gray-400 */

    color: #4a5e75;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

#mensaje-encriptado {
    position: absolute;
    width: 336px;
    height: 781px;
    left: 1032px;
    top: 150px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #0A3871;
    /* or 36px */

    /* Gray/gray-400 */

    color: #495057;
}